* {
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(79,99,207);
  background: radial-gradient(circle, rgba(79,99,207,1) 28%, rgba(37,30,92,1) 100%);
}

.main-container {
  display: grid;
  grid-gap: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  justify-self: center;
}

input, button {
  padding: 10px;
}

button {
  cursor: pointer;
}
